.contacts {
  &-block {
    display: flex;
    justify-content: space-evenly;
    &__text {
      p {
        margin: 0 0 10px;
      }
      span {
        font-weight: 600;
      }
      h3 {
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    &__image {
      margin-top: 40px;
      img {
        width: 100%;
      }
    }
  }
  &-map {
    width: 85%;
    margin: 50px auto;
  }
}