@media screen and (min-width: 320px) and (max-width: 720px) {
  .contacts {
    &-block {
      flex-direction: column;
    }
    &-map {
      width: 100%;
    }
  }
  .services {
    &-details {
      &-cond-install {
        h1 {
          padding-top: 20px;
        }
        &__worker {
          background: none;
          &--bottom {
            padding-left: 0;
            width: 100%;
          }
          &--top {
            padding-left: 0;
            width: 100%;
            padding-top: 45px;
          }
        }
        &__list {
          &--image {
            display: none;
          }
          &--text {
            width: 95%;
          }
        }
      }
      &-cond-service {
        &__heading {
          background: none;
          height: auto;
          h1 {
            width: 100%;
            font-size: 2em;
          }
        }
      }
    }
  }
}