/node_modules/
/.idea/
/upload/
/src/dist/
/images/
/bitrix/backup/
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/templates/sales-generator/sg_styles.css
/bitrix/templates/sales-generator/template_styles.css
/bitrix/templates/sales-generator/assets/js/main.script.js
/user/user-app/node_modules/
.ftpconfig
.jpg
.png
.jpeg
.gif
