/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

.top-data-panel {
    font-size: 13px;
    padding-top: 1em;
}
.top-data-panel .links-data a {
    color: #0096df;
    padding-right: 1em;
}
.top-data-panel .links-data a:hover {
    color: #1976d2;
}
.top-data-panel .schedule-data i {
    padding-right: .5em;
}